# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Rotation.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Rotation\Rotation\.idea\.idea.Rotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
